
## This is a GitHub Actions workflow file that defines a CI/CD pipeline for a DevOps project. The pipeline is triggered on pushes to the main branch and includes steps for building, testing, and deploying the application.
name: Complete DevOps Project Pipeline
## The workflow is triggered on pushes to the main branch. It includes steps for checking out the code, setting up the environment, building the application, running tests, and deploying to a staging environment.
on:
    push:
        branches:
            - main
## The workflow consists of a single job called "build-and-push" that runs on the latest version of Ubuntu. The job includes several steps, such as checking out the code from the repository, setting up the environment, building the application, running tests, and pushing the built application to a container registry.
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Short SHA
              run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
            - name: Build Docker Image
            ## This step builds a Docker image using the Dockerfile in the repository. The image is tagged with the name "gr33ngoblin/complete-devops-project" followed by the value of the SHORT_SHA environment variable, which provides a unique identifier for the image based on the commit hash.
              run: docker build -t gr33ngoblin/complete-devops-project:${{ env.SHORT_SHA }} .
            - name: Login to Dockerhub
              run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
            ## This step logs in to Docker Hub using the username and token stored in the repository's secrets. The DOCKERHUB_TOKEN is passed securely through standard input to avoid exposing it in the logs.
            - name: Push to Dockerhub
              run: docker push gr33ngoblin/complete-devops-project:${{ env.SHORT_SHA }}
